body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

#countdown {
    font-size: 2em;
    color: #d9534f;
    
}

#independenceDay {
    font-size: 1.5em;
    color: #5bc0de;
    margin-top: 10px;
}